html, body{
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  list-style: none;
  padding-inline-start: 0;
}

button:focus {
  outline: none;
}

input{
  width: 80%;
}

input:focus {
  outline: none;

}

a {
  text-decoration: none;
}

label {
  font-weight: normal;
  margin: 0.5rem 0;
  color: #464646;
  display: block;
}

h3 h4 {
  font-weight: normal;
}

/*------------------------- UTILYTIES --------------------------------------------------- */
.btnForm {
  margin: 0 10px;
  padding: 8px 20px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #f5f5f5;
  background: #B5653B;
}

.btnForm:hover {
  background: #9e4d21;
} 

#budgetSubmit:hover, #expenseSubmit:hover, .salaryReset:hover{
  background: #10a88a
}

.btnNavHover:hover {
  border-bottom: 2px solid #1ABC9C;
  opacity: 0.8;
} 

.listNav .active{
  border-bottom: 2px solid #1ABC9C;
  color: #d3d02b;
}

.alert {
  position: fixed;
  padding: 0.7rem;
  top: 8vh;
  left: 350px;
  opacity: 0.9;
  background: #f5f5f5;
  color: #333;
  z-index: 150;
  border-radius: 8px;
}

.danger{
  background: #dc3545;
  color: #f5f5f5;
 
}

.success{
  background: #28a745;
  color: #f5f5f5;
}

#notFound {
  height: 100vh;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  background: #2e3131;
  color: #fa5d08; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

/* ----------------------------------------NAVBAR--------------------------------------------------- */

.navbar {
  background: #464646;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  transition: all .7s;
 
}

 .userName {
  color: #b7bbbb;
  font-weight: bold;
}
/* -----------------------BURGER------------------ */
.burger {
  width: 45px;
  height: 45px;
  position: fixed;
  top: 15px;
  right: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  background: transparent;
  cursor: pointer;
  z-index: 20;
  
}

.logo{
  margin-left: 40px;
  background: #2e3131;
  color: #b7bbbb;
  font-family: 'Cinzel', serif;
  font-size: 50px;
  border: 2px solid;
}

.navbar #pLed {
  color: #1ABC9C;
}

.line1, .line2, .line3{
  width: 35px;
  height: 3px;
  background: #f5f5f5;
  border-radius: 5px;
  transition: all .4s;
}

.change .line1{
  transform: rotate(-45deg) translate(-10px,8px);
}

.change .line2{
  opacity: 0;
}

.change .line3{
  transform: rotate(45deg) translate(-10px,-8px);
}

/* ----------------------------------------- */


.listNav {
  list-style: none;
  display: flex;
  flex-flow: row nowrap; 
}

.listNav li {
  padding: 5px 10px;
  color:  #f5f5f5 ;
} 

.listNav a {
  color: #f5f5f5;
}


/* ----------------------------------------HOME--------------------------------------------------- */
.home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0,.7), rgba(0,0,0, 0.3)), url('./home.jpg') no-repeat center center/cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  
}

.home h1 {
  font-size: 5rem;
}

.paragraph {
  margin: 0 20px;
  text-align: center;
}

/* ----------------------------------------BACKDROP--------------------------------------------------- */
#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}
/* ----------------------------------------MODAL--------------------------------------------------- */
.modal {
  position: fixed;
  z-index: 100;
  background: #515A5A;
  border-radius: 10px;
  width: 60%;
  top: 20vh;
  left: 10%;
  box-shadow: 3px 3px  10px #b7bbbb;
  /* box-shadow: -3px -3px 8px #b7bbbb; */
  display: none;
}

.modal.visible {
  display: block;
  animation: fade-slide-in 0.4s ease-out forwards;
}

.modal .modalContent {
  padding:0 0 10px 20px;
}

.modal h1 {
  text-align: center;
  color: #b7bbbb;
}

.textPrimary {
  color: #1ABC9C;
}

.modal .modalActions {
  height: 30px;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.modalContent label{
  color: #f5f5f5;
}

.modalContent input{
  color: #b7bbbb;
  background: transparent;
  border: none;
  border-bottom: 1px solid #1ABC9C ;
}

#subSignUp, #subLogin {
  background: #13856e;
}
#subSignUp:hover, #subLogin:hover {
  background: #10a88a;
}

.authBg{
  height: 100vh;
}
/* ----------------------------------------BILANCE--------------------------------------------------- */
.budgetContainer{
  height: 100%;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #2e3131;
}

.divMonth {
  padding-top: 100px;
  
}

.formMonths{
  margin-top: 0;
  margin-left:35px ;
  /* margin-bottom: 10px; */
  height: 50px;
  width: 40%;
  color: #f5f5f5; 
}

.formMonths h5 {
  margin: 0;
  font-weight: normal;
}

.opt{
  background: rgb(97, 97, 97);
}

#resetSorting {
  display: flex;
  float: right;
  border-radius: 4px;
  border: none;
  padding: 5px 8px;
  background: #B5653B;
  color: #f5f5f5;
  cursor: pointer;
}

#resetSorting:hover {
  background: #9e4d21;
}

#selectMonths {
  background:transparent;
  color: #b7bbbb;
  border: none;
  cursor: pointer;
}


/* ============================== RIGTH SIDE======================*/
.rightSide {
  /* padding-left: 20px; */
  /* padding-top: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
  
 
}

.costsContainer {
  color: #b7bbbb;
  
}

.minusBln{
  color: #dc3545;
}

.title {
  color: #1ABC9C  ;
}

.divList {
  margin: 0 20px;
  width: 80%;
}

.list{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  justify-content: space-between;

}

.list .item{
  height: 30px;
  padding: 4px 0 ;
  margin-bottom: 1rem; 
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: #464646;
  border-radius: 4px;
  border: 1px solid #1ABC9C; 
  transition: all .4s;
  text-align: center;
}

.item p {
  margin: 4px 0 0 0;
  color: #b7bbbb;
}

.item:hover {
  transform: translateY(-4px);
} 

.editBtn, .deleteBtn{
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #1ABC9C   ;
}

.deleteBtn{
  color: #E05113;
}


.btnClear:hover{
  border: none;
}

/* ===================== LEFT SIDE ===============================*/
.leftSide{
  /* padding-top: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}



.budgetForm, .expenseForm {
  width: 80%;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: rgba(0,0,0, 0.3);
  border-radius: 10px;
  color: #f5f5f5;
  transition: all .4s; 
  
}

.budgetForm:hover, .expenseForm:hover {
  box-shadow: 2px 2px 8px #f5f5f5
}

.inputForms{
  width: 80%;
  height: 25px;
  border: none;
  border-bottom: 1px solid #1ABC9C;
  color: #b7bbbb;
  padding-left: 20px;
  background: transparent;
}

#budgetSubmit, #expenseSubmit{
  margin: 20px 0;
  background: #13856e;

}

#budgetList .item{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: center;
}

.costsContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.costsContainer p{
  font-size: 30px;
}


/*--------------PROGRESS BAR------------------*/
.bcg {
  background: #2e3131;
  padding-bottom: 50px ;
}

.expPer {
  margin: 0 auto ;
  width: 800px;
  padding: 10px 20px;
  color: #f5f5f5;
  background: #3d3f3f;
  border-radius: 10px;
}

.expPer h6 {
  margin-bottom: 5px;
  font-weight: normal;
}

.expPer h2 {
  text-align: center;
  color: #b7bbbb;
}

.progress{
  height: 30px;
  background: #13856e;
  border-radius: 4px;
  text-align: center;
  
}

.bar {
  height: 30px;
  color: #f5f5f5;
  background: #B5653B;
  border-radius: 4px;
}

.percentNum{
  padding: 5px 0;
}



/* ----------------------------------------Salary--------------------------------------------------- */
.containerSalary{
  background: #2e3131;
  height: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.inputSalary{
  width: 600px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  background: #464646;
  border-radius: 5px;
}

.inputSalary label{
  color: #1ABC9C;
}

.inputSalary div{
  width: 250px;
  height: 90px;
}

.inputSalary input{
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #1ABC9C;
  color: #b7bbbb;
}

.inputSalary p {
  color: #fa5d08;
  margin-top: 8px;
  font-size: 12px;
}

.divBtnReset{
  height: 40px;
}

.salaryReset{
  padding: 10px 20px;
  margin-bottom: 30px;
  border: none;
  color: #f5f5f5;
  background: #13856e;
  border-radius: 10px;
  cursor: pointer;
}

.tblSalary{
  border: none;
  width: 600px;
  margin-bottom: 60px;
  text-align: center;
  color: #b7bbbb;
}

.tblSalary td {
  border-bottom: 1px solid #1ABC9C;
  padding: 12px 15px;
}

.textOrn {
  color: #d3d02b;
}

/* ----------------------------------------FOOTER--------------------------------------------------- */
.footer {
  background: #3d3f3f;
  border-bottom: white;
  height: 100%;
  padding: 10px ;
}

.footer h2{
  color: #1ABC9C;
}

.itemFooter {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  margin-bottom: 20px;
  font-weight: lighter;
  background: transparent;
  color: #f5f5f5;
  text-align: center;
}

#usefulLinks a {
  display: block;
  color: #f5f5f5;
  padding-bottom: 5px ;
  
}

.copyRight {
  padding-bottom: 15px;
  margin-top: 10px;
  color: #B5653B;
  text-align: center;
  border-top: 1px solid #1ABC9C;
}

/* ----------------------------------------MEDIA QUERY--------------------------------------------- */

/*-------------------------- DESKTOP -------------------------------- */
@media(max-width: 1040px){
  #expensesList .item{
    padding: 5px 0 12px;
  }

}

@media(min-width: 772px){
  .burger{
    display: none;
  }

  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }

}

/*-------------------------- TABLET -------------------------------- */
@media(max-width: 770px){
  .verticalNav {
    margin-top: 0;
    flex-flow: column nowrap;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    background: #515A5A;
    font-size: 22px;
    transition: transform 0.3s ease-in-out;
  }

  .close {
    transform: translateX(100%) ;
  }
  
  .show {
    transform: translateX(0) ;
  }

  .listNav li {
    color: #f5f5f5;
    padding-top: 15px;
    padding-left: 20px;
  } 
  /* ==========================BILANCE================================== */
  .budgetContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .divMonth{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }

  .formMonths {
    margin-left: 0;
  }

  .formMonths h5{
    display: none;
  } 


  /*--------------------------------------------*/
  .divList{
    width: 350px;
  }

  .list {
    margin:0 auto;
    padding-inline-start: 0px;
  }


  .budgetForm{
    width: 350px;
    display: flex;
    flex-direction: column;
  }

  .inputForms {
    width: 95%;
  }

  .formGroup{
    margin-bottom: 15px;
  }

  .expenseForm {
    width: 350px;
    display: flex;
    flex-direction: column;
  }

  .expPer{
    width: 450px;
  }

  /* ========================== SIGN UP & LOG IN ================================== */
  .modal {
    width: 80%;
  }

} 

/*-------------------------- MOBILE -------------------------------- */
@media(max-width: 576px){
  .listNav{
    width: 100%;
    font-size: 22px;
  }

  .listNav li {
    padding-top: 15px;
    padding-left: 15px;
  }

  .burger {
    right:30px;
  }

  .home h1 {
    text-align: center;
  }

  .item {
    display: grid;
    grid-template-columns: 1fr
    
  }

  .modal h1 {
    font-size: 25px;
  }

  .hideSm {
    display: none;
  }
  
  .divMonth{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .formMonths {
    width: 80%;
    margin-left: 0;
  }
  .formMonths h5{
    display: none;
  }

  .alert {  
    position: fixed;
    padding: 0.7rem;
    top: 8vh;
    left: 50px;
    font-size: small;
    text-align: center;
  }
  /* ========================== FOOTER ================================== */
  .itemFooter{
    display: flex;
    flex-direction: column;
  }

  
}

@media(max-width: 420px){
  .modal h1 {
    font-size: 20px;
  }

  /* ==========================BILANCE================================== */
  .leftSide {
    padding-left: 0;
  }

  .budgetForm, .expenseForm {
    width: 300px;
  }

  .inputForms {
    width: 95%;
  }

  .expPer {
    width: 350px;
    padding: 10px 0;
  }



  /* ==========================SALARY================================== */

  .tblSalary {
    width: 350px;
  }

  .inputSalary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .divBtnReset {
    margin-bottom: 30px;
  }

/* ==========================SIGN UP & LOG IN================================== */
  .modal {
    width: 80%;
  }

  
 /* ========================== Alert ================================== */
  /* .alert{
    left: 22%;
  } */


}

/* ----------------------------------------ANIMATION--------------------------------------------- */
@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}
/*------------------------- Overrding Utilis--------------------------------------------------- */
.height100 {
  height: 100%;
  margin-bottom: 35px;
}

