body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  list-style: none;
}

button:focus {
  outline: none;
}

input{
  width: 80%;
}

input:focus {
  outline: none;

}

a {
  text-decoration: none;
}

label {
  font-weight: bold;
  margin: 0.5rem 0;
  color: #464646;
  display: block;
}

/* ----------------------------------------NAVBAR--------------------------------------------------- */

.navbar {
  background: gray;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  transition: all .7s;
 
}
/* -----------------------BURGER------------------ */
.burger {
  width: 45px;
  height: 45px;
  position: fixed;
  top: 15px;
  right: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  background: transparent;
  cursor: pointer;
  z-index: 20;
  
}

.line1, .line2, .line3{
  width: 35px;
  height: 3px;
  background: #f5f5f5;
  border-radius: 5px;
  transition: all .4s;
}

.change .line1{
  transform: rotate(-45deg) translate(-10px,8px);
}

.change .line2{
  opacity: 0;
}

.change .line3{
  transform: rotate(45deg) translate(-10px,-8px);
}

/* ----------------------------------------- */

.logo{
  padding:18px 0 ;
  padding-left: 40px ;
}

.listNav {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  
}

.listNav li {
  padding: 5px 10px;
} 

.listNav .navLink {
  color: #f5f5f5;
}

/* .close {
  transform: translateX(100%) ;
}

.show {
  transform: translateX(0) ;
} */



/* ----------------------------------------HOME--------------------------------------------------- */
.home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0,.7), rgba(0,0,0, 0.3)), url('./home.jpg') no-repeat center center/cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  
}

.home h1 {
  font-size: 5rem;
}

.paragraph {
  margin: 0 20px;
  text-align: center;
}

/* ----------------------------------------BACKDROP--------------------------------------------------- */
#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}
/* ----------------------------------------MODAL--------------------------------------------------- */
.modal {
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 60%;
  top: 20vh;
  left: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
}

.modal.visible {
  display: block;
  animation: fade-slide-in 0.4s ease-out forwards;
}

.modal .modalContent {
  padding:0 0 10px 20px;
}

.modal h1 {
  text-align: center;
}

.modal .modalActions {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.btnForm {
  margin: 0 10px;
  padding: 8px 20px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #f5f5f5;
  background: blue;
}

.authBg{
  height: 100vh;
}
/* ----------------------------------------BUDGET--------------------------------------------------- */
.budgetContainer{
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.leftSide, .rightSide {
  padding-top: 100px;
}

.leftSide{
  padding-left: 20px;
}
/* ==============================LIST ======================*/
.list{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  justify-content: space-between;
}

.list .item{
  height: 30px;
  padding: 10px 20px;
  margin-bottom: 1rem; 
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background: cadetblue;
}

.editBtn{
  height: 25px;
}

/* ====================================================*/

.budgetForm, .expenseForm {
  width: 80%;
  padding: 15px;
  background: lightsalmon;
  /* border-radius:5px; */
  
}

.inputForms{
  width: 80%;
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 20px;
}

#budgetSubmit, #expenseSubmit{
  margin: 20px 0;

}

.costsContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.costsContainer p{
  font-size: 30px;
}

.btnClear {
  width: 70px;
  padding: 8px 20px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #f5f5f5;
  background: blue;
}

/* ----------------------------------------FOOTER--------------------------------------------------- */
.footer {
  background: gray;
  border-bottom: white;
  height: 100%;
  /* padding: 20px ; */
}

.item {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  font-weight: lighter;
  background: transparent;
  color: #f5f5f5;
  text-align: center;
  border-bottom: 1px solid #f5f5f5;
  
}

#usefulLinks a {
  display: block;
  color: #f5f5f5;
  padding-bottom: 5px ;
  
}


.copyRight {
  color: #f5f5f5;
  text-align: center;
  padding-bottom: 15px;
}
/* ----------------------------------------MEDIA QUERY--------------------------------------------- */
/* ----------------------------------------MEDIA QUERY--------------------------------------------- */
@media(min-width: 769px){
  .burger{
    display: none;
  }

  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }

}

@media(max-width: 768px){
  .verticalNav {
    margin-top: 0;
    flex-flow: column nowrap;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    background: teal;
    font-size: 22px;
    transition: transform 0.3s ease-in-out;
  }

  .close {
    transform: translateX(100%) ;
  }
  
  .show {
    transform: translateX(0) ;
  }

  .listNav li {
    color: #f5f5f5;
    padding-top: 15px;
  } 

} 

@media(max-width: 576px){
  .listNav{
    width: 100%;
    font-size: 22px;
  }

  .listNav li {
    padding-top: 15px;
    padding-left: 15px;
  }

  .burger {
    right:30px;
  }

  .home h1 {
    text-align: center;
  }

  .item {
    display: grid;
    grid-template-columns: 1fr
    
  }

  .modal h1 {
    font-size: 25px;
  }
  
}

@media(max-width: 420px){
  .modal h1 {
    font-size: 20px;
  }
}

/* ----------------------------------------ANIMATION--------------------------------------------- */
@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}